<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--ion-background-color: white;">

  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Education Managment Softwear</ion-card-subtitle>
      <ion-card-title>Welcome to Our EMS App For Regstration</ion-card-title>
    </ion-card-header>
    <ion-card  color="primary">
      <ion-card-content>
        <ion-text>
          <h2>This EMS App Only for Student and Faculty Regstration</h2>
        </ion-text>
      </ion-card-content>
      <ion-item-divider></ion-item-divider>
      <ion-card-content>
        <ion-text >
          <h2>Click On SlideBar to Regtration in Our EMS System</h2>
        </ion-text>
      </ion-card-content>
      <ion-item-divider></ion-item-divider>

    </ion-card>
  </ion-card>

</ion-content>